#Logo {
  font-family: 'Teko', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 55px;
  display: inline-block;
  position: absolute;
  margin-top: 7px;
  /* margin-right: 89%;
  top: -35px; */
  margin-right: 87%;
  text-shadow: 1px 1px 5px black;
  line-height: 40px;
  left: 30px;
  top: 5px;
  }